<mat-sidenav class="sidebar" [class.open]="isOpen" #sidebar mode="side" opened>
    <div class="menu-bar">
        <div class="logo d-flex flex-row justify-content-evenly align-content-center align-items-center">
            <img class="favicon" src="favicon.ico" alt="">
            <img class="company" src="assets/logo-white.png" alt="">
            <mat-icon class="mat-icon" #btn id="btn" (click)="toggleSidebar()">menu_alt_right</mat-icon>
        </div>
      <div class="menu d-flex flex-column justify-content-between">
        <!-- First Option Menu -->
        <div class="first-option">
          <mat-nav-list class="options d-flex flex-column justify-content-between">
            <mat-list-item routerLink="/dashboard" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">dashboard</mat-icon>
              <span>Dashboard</span>
            </mat-list-item>
            <mat-list-item routerLink="/projects" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">home</mat-icon>
              <span>Project</span>
            </mat-list-item>
            <mat-list-item routerLink="/teams" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">people</mat-icon>
              <span>Team</span>
            </mat-list-item>
            <mat-list-item routerLink="/supervisors" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">supervisor_account</mat-icon>
              <span>Supervisor</span>
            </mat-list-item>
            <mat-list-item routerLink="/vehicles" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">directions_car</mat-icon>
              <span>Vehicle</span>
            </mat-list-item>
            <mat-list-item routerLink="/equipments" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">build</mat-icon>
              <span>Equipment</span>
            </mat-list-item>
            <mat-list-item routerLink="/materials" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">recycling</mat-icon>
              <span>Material</span>
            </mat-list-item>
          </mat-nav-list>
        </div>
        <!-- Last Option Menu -->
        <div class="last-option">
          <mat-nav-list>
            <mat-list-item routerLink="/logout" routerLinkActive="active" class="nav-link">
              <mat-icon class="icon">logout</mat-icon>
              <span>Log out</span>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </mat-sidenav>
  